In [161]:
import pandas as pd
data=pd.read_csv("/kaggle/input/forbes-billionaires-of-2021/Billionaire.csv")
#data

# Used when printing all columns is unnecessary
column_filtering_one = ['Name', 'NetWorth', 'Source', 'Rank', 'Industry']
column_filtering_two = ['Name', 'NetWorth', 'Source', 'Industry']
column_filtering_three = ['NetWorth', 'Source', 'Industry']
column_filtering_country = ['Name', 'NetWorth', 'Source', 'Country']

In [175]:
def get_person(data, name = ''):
    return data[data['Name'].str.contains(name, regex=False)]

def get_from_country(data, name = ''):
    return data[data['Country'] == name]

def count_values(data, value = ''):
    return data[value].value_counts()

def net_worth_more_than(data, networth = 1):
    return data[data['NewNetWorth'] >= networth]

def get_people_multiple_sources(data):
    return data[data["Source"].str.contains(",", regex=False)]

def get_from_industry(data, name = ''):
    return data[data['Industry'] == name]

In [163]:
# All sources counted (even multiple sources)
sources = count_values(data, "Source")
# Convert string NetWorth to float without effecting the original column
data['NewNetWorth'] = pd.to_numeric(data.NetWorth.str.replace(r"[a-zA-Z\$]",''))

# All people with multiple sources
people_multiple_sources = get_people_multiple_sources(data)

# All people from <country>
from_us = get_from_country(data, 'United States')
from_china = get_from_country(data, 'China')

# All people from <country> with multiple sources
from_us_multiple_sources = get_people_multiple_sources(from_us)
from_china_multiple_sources = get_people_multiple_sources(from_china)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

In [164]:
# All people worth over <networth> billions
print(net_worth_more_than(people_multiple_sources, 2)[column_filtering_two])

                       Name NetWorth                       Source  \
1                 Elon Musk   $151 B                Tesla, SpaceX
12           Zhong Shanshan  $68.9 B   beverages, pharmaceuticals
23    Gautam Adani & family  $50.5 B  infrastructure, commodities
28            Masayoshi Son  $45.4 B            internet, telecom
39         Giovanni Ferrero  $35.1 B          Nutella, chocolates
...                     ...      ...                          ...
1634      Jennifer Pritzker     $2 B          hotels, investments
1635         Linda Pritzker     $2 B          hotels, investments
1649            Arvind Tiku     $2 B       oil & gas, investments
1651         Georg von Opel     $2 B     real estate, investments
1654           Wei Ing-Chou     $2 B              food, beverages

                   Industry
1                Automotive
12          Food & Beverage
23              Diversified
28                  Telecom
39          Food & Beverage
...                     ...
1634  Finance & Investments
1635                Service
1649                 Energy
1651  Finance & Investments
1654        Food & Beverage

[224 rows x 4 columns]

In [165]:
# All people from <country> worth over <networth> billions
net_worth_more_than(from_us, 20)[column_filtering_country]

                       Name NetWorth                  Source        Country
0                Jeff Bezos   $177 B                  Amazon  United States
1                 Elon Musk   $151 B           Tesla, SpaceX  United States
3                Bill Gates   $124 B               Microsoft  United States
4           Mark Zuckerberg    $97 B                Facebook  United States
5            Warren Buffett    $96 B      Berkshire Hathaway  United States
6             Larry Ellison    $93 B                software  United States
7                Larry Page  $91.5 B                  Google  United States
8               Sergey Brin    $89 B                  Google  United States
13            Steve Ballmer  $68.7 B               Microsoft  United States
16             Alice Walton  $61.8 B                 Walmart  United States
17               Jim Walton  $60.2 B                 Walmart  United States
18               Rob Walton  $59.5 B                 Walmart  United States
19        Michael Bloomberg    $59 B            Bloomberg LP  United States
21          MacKenzie Scott    $53 B                  Amazon  United States
22           Daniel Gilbert  $51.9 B           Quicken Loans  United States
24     Phil Knight & family  $49.9 B                    Nike  United States
26             Charles Koch  $46.4 B         Koch Industries  United States
27      Julia Koch & family  $46.4 B         Koch Industries  United States
29             Michael Dell  $45.1 B          Dell computers  United States
35           Miriam Adelson  $38.2 B                 casinos  United States
45            Len Blavatnik    $32 B        music, chemicals  United States
47          Jacqueline Mars  $31.3 B         candy, pet food  United States
48                John Mars  $31.3 B         candy, pet food  United States
63           Leonard Lauder  $25.5 B            Estee Lauder  United States
64          Thomas Peterffy    $25 B      discount brokerage  United States
67               Jim Simons  $24.6 B             hedge funds  United States
70  Rupert Murdoch & family  $23.5 B  newspapers, TV network  United States
78       Stephen Schwarzman  $21.9 B             investments  United States
82           Pierre Omidyar  $21.4 B            eBay, PayPal  United States
84          Abigail Johnson  $20.9 B        money management  United States
87                Ray Dalio  $20.3 B             hedge funds  United States

In [166]:
net_worth_more_than(from_china, 20)[column_filtering_country]

                       Name NetWorth                      Source Country
12           Zhong Shanshan  $68.9 B  beverages, pharmaceuticals   China
14               Ma Huateng  $65.8 B              internet media   China
20        Colin Zheng Huang  $55.3 B                  e-commerce   China
25                  Jack Ma  $48.4 B                  e-commerce   China
34                 Wang Wei    $39 B            package delivery   China
36             He Xiangjian  $37.7 B             home appliances   China
38             Zhang Yiming  $35.6 B                      TikTok   China
43     Qin Yinglin & family  $33.5 B                pig breeding   China
44         William Lei Ding    $33 B                online games   China
49     Yang Huiyan & family  $29.6 B                 real estate   China
52               Hui Ka Yan  $27.7 B                 real estate   China
56                Pang Kang  $26.4 B                   soy sauce   China
59                Wang Xing  $26.1 B                  e-commerce   China
68  Jiang Rensheng & family  $24.4 B                    vaccines   China
72            Zhang Zhidong  $23.4 B              internet media   China
74                  Lei Jun    $23 B                 smartphones   China
76    Richard Qiangdong Liu  $22.4 B                  e-commerce   China

In [167]:
billion_dollars_number = 1000000000
print("US Billionaire Total Networth: ","{:,}".format(sum(from_us["NewNetWorth"])*billion_dollars_number))
print("China Billionaire Total Networth: ", "{:,}".format(sum(from_china["NewNetWorth"])*billion_dollars_number))

US Billionaire Total Networth:  4,398,400,000,000.001
China Billionaire Total Networth:  2,531,899,999,999.9956

In [168]:
get_person(data, 'Jeff')

,Name,NetWorth,Country,Source,Rank,Age,Industry,NewNetWorth
0,Jeff Bezos,$177 B,United States,Amazon,1,57.0,Technology,177.0
183,Jeff Yass,$12 B,United States,"trading, investments",184,62.0,Finance & Investments,12.0
465,Jeff Skoll,$6 B,United States,eBay,451,56.0,Technology,6.0
757,Jeff Greene,$3.9 B,United States,"real estate, investments",752,66.0,Real Estate,3.9
783,Jeff Green,$3.8 B,United States,online advertising,775,44.0,Media & Entertainment,3.8
817,Jeff Rothschild,$3.7 B,United States,Facebook,807,66.0,Technology,3.7
1039,Jeffrey Lurie,$3 B,United States,Philadelphia Eagles,1008,69.0,Sports,3.0
1104,Jeff Sutton,$2.9 B,United States,real estate,1064,61.0,Real Estate,2.9
1462,Jeffrey Gundlach,$2.2 B,United States,investments,1444,62.0,Finance & Investments,2.2
1475,Jeff Lawson,$2.2 B,United States,software,1444,43.0,Technology,2.2
1569,Jeffrey Talpins,$2.1 B,United States,hedge fund,1517,46.0,Finance & Investments,2.1
1605,Jeffery Hildebrand,$2 B,United States,oil,1580,62.0,Energy,2.0
1621,Jeffrey Lorberbaum,$2 B,United States,flooring,1580,66.0,Manufacturing,2.0
2280,Jeffrey Cheah,$1.3 B,Malaysia,property,2263,76.0,Real Estate,1.3

In [185]:
industries = count_values(data, 'Industry')
industries

Finance & Investments         371
Technology                    365
Manufacturing                 331
Fashion & Retail              273
Healthcare                    221
Food & Beverage               219
Real Estate                   215
Diversified                   188
Energy                        100
Media & Entertainment          95
Service                        75
Metals & Mining                74
Automotive                     68
Construction & Engineering     44
Logistics                      35
Telecom                        32
Gambling & Casinos             25
Sports                         24
Name: Industry, dtype: int64

In [193]:
for item in data['Industry'].unique():
    industry = get_from_industry(data, item)
    print(item, "networth: {:,}".format(int(sum(industry["NewNetWorth"]))), " billions")
    print("---")

Technology networth: 2,456  billions
---
Automotive networth: 467  billions
---
Fashion & Retail networth: 1,697  billions
---
Finance & Investments networth: 1,527  billions
---
Diversified networth: 868  billions
---
Food & Beverage networth: 1,029  billions
---
Telecom networth: 209  billions
---
Media & Entertainment networth: 481  billions
---
Service networth: 248  billions
---
Gambling & Casinos networth: 134  billions
---
Manufacturing networth: 1,119  billions
---
Real Estate networth: 815  billions
---
Metals & Mining networth: 431  billions
---
Energy networth: 452  billions
---
Logistics networth: 145  billions
---
Healthcare networth: 790  billions
---
Construction & Engineering networth: 125  billions
---
Sports networth: 81  billions
---

In [119]:
icelandic_billionaires = get_from_country(data, 'Iceland')
icelandic_billionaires

,Name,NetWorth,Country,Source,Rank,Age,Industry,NewNetWorth
1450,Thor Bjorgolfsson,$2.2 B,Iceland,investments,1444,54.0,Diversified,2.2
2693,David Helgason,$1 B,Iceland,game software,2674,43.0,Technology,1.0